.header {
  height: 50px;
  background: #ff6f69;
  color: #ffeead;
  padding: 0.5rem 1rem 0.5rem 1rem;
  display: flex;
  align-items: center; 
}

.header app-login {
  margin-left:auto;
}

.header .logo {
  margin-top: 1.5rem;
  font-size: 3rem;
}

.footer {
  height: 50px;
  background: #96ceb4;
  padding-left: 1rem;
  color: black;
}